root = 1

[**.{c,cc,cpp,h,hpp}]
indent_style = space
indent_size = 4

[Simple-WebSocket-Server/**.{c,cc,cpp,h,hpp}]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 4

[FALCONN/src/random_benchmark/**.cc]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
