root = 1

[neural-redis/**.c]
indent_style = space
indent_size = 4


[redis_module/**.{c,cc,cpp,h}]
indent_style = space
indent_size = 4

[FALCONN/src/random_benchmark/**.cc]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2
